.card {
	border-radius: 0;
}

.card,
.card-footer {
	background-color: #FFFFA5;
	border: none;
	cursor: pointer;
}

.card.completed,
.card.completed .card-footer {
	background-color: #EEEEEE;
	color: #CCCCCC;
}

.card-footer {
	text-align: right;
}

i {
	color: #CC0000;
	padding-right: .5rem;
}

.fa-check {
	color: #888888;
}